<%include partial/header%>
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
        <br><br>
        <h1 class="header center text-lighten-4 top-heading">About our Restaurant</h1>
        </div>
    </div>
    <div class="parallax top-image"><img src="/images/restaurant-7.jpg" alt="background img 1"></div>
</div>
<section class="home-section">
    <div class="row home-grid__1">
        <div class="col l4 s12 ">
            <img class="home-section__image" src="/images/restaurant-5.jpg" alt="Restaurant image">
        </div>
        <div class="col l4 offset-l3 s12">
        <h4 class="home-section__heading white-text">The Restaurant</h4>
        <p class="white-text">The imagination of our chefs will never bore you with always different and delicious dishes.

                The attention in choice of genuine and local ingredients will relax you
                
                The accurate service, the elegance of our dining halls will make you feel at ease.
                
                The availability of our friendly staff will pamper you.
                
                    
                
                You will always have a wide choice of vegetables on the buffet to be seasoned with oil of our land.
                
                You can always choose meat or fish courses or one of ours delicious dishes, a soup or a cold dish.
                
                As the last course you can always choose between fresh fruit, a fruit salad, ice cream or a dessert prepared by our pastry chef.</p>
        </div>
    </div>
</section>
<section class="home-grid__1">
    <div class="experience-data" >
        <h5 class="center-align white-text"><span class="experience-heading">OUR EXPERIENCE</span></h5>
    </div>
    <div class="row">
        <div class="col s12 l5">&nbsp;</div>
        <div class="col s12 l5 experience-points">
            <p><i class="medium material-icons experience-points__icon">ac_unit</i></p>
            <div class="experience-inner__points">
                <h4 class="white-text">The Founders Meet</h4>
                <p class="grey-text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>
            </div>
        </div>
        <div class="col s12 l5">&nbsp;</div>
        <div class="col s12 l5 experience-points">
            <p><i class="medium material-icons experience-points__icon">ac_unit</i></p>
            <div class="experience-inner__points">
                <h4 class="white-text">Create A Restaurant</h4>
                <p class="grey-text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>
            </div>
        </div>
        <div class="col s12 l5">&nbsp;</div>
        <div class="col s12 l5 experience-points">
            <p><i class="medium material-icons experience-points__icon">ac_unit</i></p>
            <div class="experience-inner__points">
                <h4 class="white-text">Added 200+ Employees</h4>
                <p class="grey-text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>
            </div>
        </div>
    </div>
    <div class="experience-data" >
        <h5 class="center-align white-text"><span class="experience-heading">MORE RESTAURANTS OUTLET</span></h5>
    </div>
    <div class="row">
        <div class="col s12 l5">&nbsp;</div>
        <div class="col s12 l5 experience-points">
            <p><i class="medium material-icons experience-points__icon">restaurant</i></p>
            <div class="experience-inner__points">
                <h4 class="white-text">Stablished Restaurant in Europe</h4>
                <p class="grey-text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>
            </div>
        </div>
        <div class="col s12 l5">&nbsp;</div>
        <div class="col s12 l5 experience-points">
            <p><i class="medium material-icons experience-points__icon">restaurant</i></p>
            <div class="experience-inner__points">
                <h4 class="white-text">Franchise Restaurants Brooklyn</h4>
                <p class="grey-text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>
            </div>
        </div>
        <div class="col s12 l5">&nbsp;</div>
        <div class="col s12 l5 experience-points">
            <p><i class="medium material-icons experience-points__icon">restaurant</i></p>
            <div class="experience-inner__points">
                <h4 class="white-text">Added 100K More Employees</h4>
                <p class="grey-text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>
            </div>
        </div>
        <div class="col s12 l5">&nbsp;</div>
        <div class="col s12 l5 experience-points">
            <p><i class="medium material-icons experience-points__icon">restaurant</i></p>
            <div class="experience-inner__points">
                <h4 class="white-text">Stablished Marketing</h4>
                <p class="grey-text">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>
            </div>
        </div>
    </div>
</section>
<section>
    <main class="home-section">
        <div class="row home-grid__1">
            <div class="col l4 s12 offset-l1">
                <h4 class="home-section__heading white-text">Testimony</h4>
                <p class="white-text">This restaurant is located right on the water with it's own pier in Dunedin so there's that! The service is second to none! The food is fabulous. There is outdoor dining and a large full circle bar also with plenty of views of the water. There is a marina in the parking lot, and a beautiful hotel.</p>
            </div>
        </div>
    </main>
    <main class="home-section">
        <div class="row home-grid__1">
            <div class="col l4 s12 offset-l1">
                <img class="restaurant-owner" src="/images/restaurant-owner.jpg" alt="">
            </div>
            <div class="col l4 s12 offset-l2">
                <h3 class="white-text owner-testimonial">" Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem iste incidunt, consectetur nam odit repudiandae iusto quasi doloremque cumque dignissimos ex, consequuntur dolorum officia fuga! Illum, asperiores! "</h3>
                <br>
                <h5 class="grey-text">___ John Doe</h5>
            </div>
        </div>
    </main>
</section>
<section>
    <div id="index-banner" class="parallax-container">
            <div class="section no-pad-bot">
                <div class="container">
                <br><br>
                <h4 class="header center text-lighten-4 top-heading">Book a Table</h4>
                <div class="row center">
                    <h5 class="header col s12 light white-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae enim quae vitae cupiditate, sequi quam ea id dolor reiciendis consectetur repudiandae. Rem quam, repellendus veniam ipsa fuga maxime odio? Eaque!</h5>
                    <a class="btn waves-effect waves-light red" href="#">CONTACT US</a>
                </div>
                </div>
            </div>
            <div class="parallax top-image"><img src="/images/restaurant-2.jpg" alt="background img 1"></div>
    </div>
</section>
<%include partial/footer%>