<%include partial/header%>
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
        <br><br>
        <h1 class="header center text-lighten-4 top-heading">Get in Touch</h1>
        </div>
    </div>
    <div class="parallax top-image"><img src="/images/restaurant-7.jpg" alt="background img 1"></div>
</div>
<section class="home-grid__1">
    <div class="container">
        <div class="experience-data row center">
            <h5 class="center-align white-text"><span class="top-heading">Don't be shy, let's chat.</span></h5>
            <p class="center-align grey-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit debitis, dolore facilis, consequatur veritatis voluptates ducimus odio eaque in amet rem voluptatibus accusantium maiores odit assumenda cumque suscipit nemo perspiciatis.</p>
        </div>
    </div>    
</section>
<section  class="home-grid__1">
    <div class="row">
        <div class="col s12 l3">&nbsp;</div>
            <div class="col s12 l6 reservation-form">
                <form action="#" method="POST">
                    <div class="input-field col s12">
                        <input id="your_name" type="text" name="name" class="validate white-text" required>
                        <label for="your_name">Your Name</label>
                        <span class="helper-text" data-error="must be a name ( ex : johndoe )" data-success="right"></span>
                    </div>
                    <div class="input-field col s12">
                        <input id="email" type="email" name="email" class="validate white-text" required>
                        <label for="email">Email</label>
                        <span class="helper-text" data-error="must be a email ( ex : johndoe@example.com )" data-success="right"></span>
                    </div>
                    <div class="input-field col s12">
                        <input id="phone" type="number" name="phone" class="validate white-text" required>
                        <label for="phone">Phone</label>
                        <span class="helper-text" data-error="must be a phone number  ( ex : 1234567890 )" data-success="right"></span>
                    </div>
                    <div class="input-field col s12">
                        <input id="message" type="text" name="message" class="validate white-text" data-length="100" required>
                        <label for="message">Message</label>
                        <span class="helper-text" data-error="must be in 100 character" data-success="right"></span>
                    </div>
                    <div class="button center">
                        <button class="btn waves-effect waves-light red" type="submit">Submit</button>
                    </div>
                </form>   
                </div>
        <div class="col s12 l3">&nbsp;</div> 
      
    </div>
</section>
<%include partial/footer%>