<%include partial/header%>
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
        <br><br>
        <h1 class="header center text-lighten-4 top-heading">See Our Gallery</h1>
        </div>
    </div>
    <div class="parallax top-image"><img src="/images/restaurant-7.jpg" alt="background img 1"></div>
</div>
<section class="home-section">
    <div class="row home-grid__1">
        <div class="col l6 s12 offset-l1">
            <h4 class="home-section__heading white-text">Our Gallery</h4>
            <p class="white-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores recusandae voluptatibus vel harum commodi obcaecati, labore debitis ratione consectetur praesentium beatae nobis laborum magni necessitatibus aliquid? Temporibus autem beatae ad non facere quod distinctio officiis. Et quas, recusandae obcaecati facere dolorum veritatis quam. Cupiditate tempora dolore sed dolorum aspernatur adipisci laboriosam.</p>
        </div>
    </div>
</section>
<section>
    <div class="row home-grid__1">
        <div class="col l4 m6 offset-l1">
            <img class="materialboxed gallery-image" width="650" src="/images/gallery1.jpg">
        </div>
        <div class="col l4 m6 offset-l1">
            <img class="materialboxed gallery-image" width="650" src="/images/gallery2.jpg">
        </div>
        <div class="col l4 m6 offset-l2">
            <img class="materialboxed gallery-image" width="650" src="/images/gallery3.jpg">
        </div>
        <div class="col l4 m6 offset-l1">
            <img class="materialboxed gallery-image" width="650" src="/images/gallery4.jpg">
        </div>
        <div class="col l4 m6 offset-l1">
            <img class="materialboxed gallery-image" width="650" src="/images/gallery5.jpg">
        </div>
        <div class="col l4 m6 offset-l1">
            <img class="materialboxed gallery-image" width="650" src="/images/gallery6.jpg">
        </div>
        <div class="col l4 m6 offset-l2">
            <img class="materialboxed gallery-image" width="650" src="/images/gallery7.jpg">
        </div>
        <div class="col l4 m6 offset-l1">
            <img class="materialboxed gallery-image" width="650" src="/images/gallery8.jpg">
        </div>
        <div class="col l4 m6 offset-l1">
            <img class="materialboxed gallery-image" width="650" src="/images/gallery9.jpg">
        </div>
        <div class="col l4 m6 offset-l1">
            <img class="materialboxed gallery-image" width="650" src="/images/tuna.jpg">
        </div>
        <div class="col l4 m6 offset-l2">
            <img class="materialboxed gallery-image" width="650" src="/images/street.jpg">
        </div>
        <div class="col l4 m6 offset-l1">
            <img class="materialboxed gallery-image" width="650" src="/images/sea.jpg">
        </div>
    </div>
</section>

<%include partial/footer%>