
<footer class="page-footer home-grid__2">
  <div class="container">
    <div class="row">
      <div class="col l4 s12">
        <h5 class="white-text">FoodCircles</h5>
        <p class="grey-text text-lighten-4">We are a young company looking for new and creative ideas to help you with our products in your everyday work.</p>
      </div>
      <div class="col l3 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/foodcircles">Home</a></li>
          <li><a class="grey-text text-lighten-3" href="/foodcircles/about">About</a></li>
          <li><a class="grey-text text-lighten-3" href="/foodcircles/menu">Menu</a></li>
          <li><a class="grey-text text-lighten-3" href="/foodcircles/gallery">Gallery</a></li>
        </ul>
      </div>
      <div class="col l3">
        <h5 class="white-text">Contact</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">198 West 21th Street,</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Suite 721 Surat IND 10016</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">+ 1235 2355 98</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">info@yoursite.com</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center footer-rights">
      © 2019 | All Rights Reserved | Made with <i class="fas fa-heart"></i> by Sankar
      <p><a href="https://www.facebook.com/sankarpratap.samanta.5" class="tooltipped" data-position="top" data-tooltip="Facebook"><i class="fab fa-facebook-square footer-icon"></i></a>
        <a href="https://www.instagram.com/sankar_samanta18/" class="tooltipped" data-position="top" data-tooltip="Instagram"><i class="fab fa-instagram footer-icon"></i></a>
        <a href="https://www.linkedin.com/in/sankar-pratap-samanta-237711173/" class="tooltipped" data-position="top" data-tooltip="linkedin"><i class="fab fa-linkedin footer-icon"></i></a>
      </p>
    </div>
  </div>
</footer>



<script
src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js" integrity="sha256-w49DIDk8itgSjjuoof5lTxYKwcjWJ7Z2sRW3nU1StNA=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/shortcuts/infinite.min.js" integrity="sha256-Qp8DnNDYDDwTWO5OCw8HFoCJOqO1l4OmcIlIZNfi6tI=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" src="/javascript/main.js"></script>


</body>
</html>